body {
    background-color: white;
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: black;
    /*text-shadow: 3px 3px 6px black;*/
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_navigation {
    background-color: #303030;
    overflow: hidden;
}

.main_navigation a {
    float: left;
    color: rgb(243, 243, 243);
    text-align: center;
    padding: 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.main_navigation a.active {
    background-color: #aa2804;
    color: white;
}

.main_navigation a:hover {
    background-color: gainsboro;
    color: black;
}